div {
  text-align: center;

}
#root {
  background-color:rgb(255, 250, 245)
}

.past-map {
  min-width:500px;
}

.recentMap {
  width:600px;
}

.map-item {
  height:75%;
}

.c3-line {
  stroke-width: 2px;
}

.dropdown {
  width:10vw;
  color:black;
}

#recentSpeed {
  max-width:400px;
}
.upload-info {
  font-size:2vw;
}

.c3-axis-x .tick {display: none;}
