div {
  text-align: center;

}
#root {
  background-color:rgb(255, 250, 245)
}



.past-map {
  min-width:500px;
}

.recentMap {
  width:600px;
}

.c3-axis-y-label, .c3-axis-y2-label{
  font-weight:bold;
  font-size:1em;
}

.c3-line {
  stroke-width: 2px;
}

.dropdown {
  width:10vw;
  color:black;
}

#recentSpeed {
  max-width:400px;
}
.upload-info {
  font-size:2vw;
}
.mode-p {
  margin-bottom:0;
  line-height:2.5;
}

.c3-axis-x .no-tick .tick {display: none;}
.c3-chart-arcs-title {
  font-weight:700;
  font-size:5em;
  fill:#6CB2EB !important;
}
.distance-display .c3-text {
  font-size:1.5em;
  font-weight:700;
}
